<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Claims Review Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Review Your Monthly Claims</h1>
    </header>
    <section>
        <h2>Claims History:</h2>
        <table>
            <tr>
                <th>Claim ID:</th>
                <th>Hours Worked:</th>
                <th>Total Amount:</th>
                <th>Status:</th>
            </tr>
            <tr>
                <td>James</td>
                <td>55</td>
                <td>R3500</td>
                <td>Approved</td>
            </tr>
            <tr>
                <td>Peter</td>
                <td>25</td>
                <td>R1000</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td>Joe</td>
                <td>13</td>
                <td>R450</td>
                <td>Approved</td>
            </tr>
            <tr>
                <td>Larry</td>
                <td>60</td>
                <td>R5050</td>
                <td>Approved</td>
            </tr>
            <tr>
                <td>005</td>
                <td>9</td>
                <td>R650</td>
                <td>Pending</td>
            </tr>
        </table>
    </section>
</body>
</html>
<!-- Claims Review Page:-->
<!-- User view their Contract monthly claims here.-->
<!-- Users can see their entire contract set.-->
<!-- Showcasing their Tasks.-->
<!-- Showcasing their Monthly Pay.-->
<!-- Showcasing their Total Amount of Hours Worked.-->
<!-- Showcasing their Status.-->
<!-- END OF FILE -->
