<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Welcome to Your Dashboard!</h1>
        <p>Showcasing of the Contract Monthly Claim System (CMCS)</p>
    </header>
    <section>
       
        <h2>Pending Claims:</h2>
        <ul>
            <li>Claim 1 - Pending Approval</li>
            <li>Claim 2 - Pending Approval</li>
            <li>Claim 3 - Pending Approval</li>
            <li>Claim 4 - Pending Approval</li>
        </ul>

        <h2>Approved Claims:</h2>
        <ul>
            <li>Claim 5 - Approved</li>
            <li>Claim 6 - Approved</li>
            <li>Claim 7 - Approved</li>
            <li>Claim 8 - Approved</li>
        </ul>
        <nav>
            <a href="submit_claim.html">Submit New Claims</a> |
            <a href="claimsreview.html">View Claims</a> |
            <a href="profile.html">Profile</a>
        </nav>
    </section>
</body>
</html>
<!-- DashBoard Page:-->
<!-- Users can check for their approval claims.-->
<!-- Users can check for their pending Approvals.-->
<!-- If dont have a claim, user can click on the link submit a claim and it'll take you to the Claims Page and you can submit a claim.-->
<!-- Users can click on the link View Claims, it'll take the user to the Claims Review page.-->
<!-- Users can click on the profile link and he can edit his account details.-->
<!-- END OF FILE -->
