<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <marquee><h1>Welcome to the Contract Monthly Claim System (CMCS)</h1></marquee>
    </header>
</body>
</html>
<!--Home Page Comments:-->
<!-- ST10038389 -->
<!-- PROG6212_P1 OF POE: -->
<!-- Home Page: -->
<!-- Welcoming Page for Users. -->
<!-- User will see what the site is about. -->
<!-- END OF FIEL -->



