<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Login to Contract Monthly Claim System (CMCS)</h1>
    </header>
    <section>
        <form action="#">
            <label for="email">First Name:</label>
            <input type="email" id="email" name="first name" required>
            
            <label for="email">Surname:</label>
            <input type="email" id="email" name="surname" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
            <button type="submit">Sign Up</button>
        </form>
    </section>
</body>
</html>
<!-- Login Page:-->
<!-- User will enter their details to access their account on the site.-->
<!-- Users will enter their First Name:-->
<!-- Users will enter their Last Name:-->
<!-- Users will enter their Email:-->
<!-- User will enter their Password:  -->
<!-- After the User has filled in his/her details in, he can then click the button Login and it will log him into his account.-->
<!-- Dont have an account yet! User can click on the Sign Up link, that'll allow him to sign up for an account.-->
<!-- END OF FILE -->